@page
@model SacramentMeeting.Pages.Meetings.CreateModel

@{
    ViewData["Title"] = "Create Meeting";
}

<h2>Create</h2>

<h4>Sacrament Meeting</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Meeting.MeetingDate" class="control-label"></label>
                <input asp-for="Meeting.MeetingDate" class="form-control" />
                <span asp-validation-for="Meeting.MeetingDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Meeting.Calling.Title" class="control-label"></label>
                <select asp-for="Meeting.CallingID" class="form-control" asp-items="@Model.BishopricCallingsSL"></select>
            </div>
            <div class="form-group">
                <label for="openingPrayer" class="control-label">Opening Prayer</label>
                <select name="openingPrayer" class="form-control" asp-items="@Model.OpeningPrayerSL"></select>
            </div>
            <div class="form-group">
                <label for="closingPrayer" class="control-label">Closing Prayer</label>
                <select name="closingPrayer" class="form-control" asp-items="@Model.ClosingPrayerSL"></select>
            </div>
            <div class="form-group">
                <label for="openingSong" class="control-label">Opening Song</label>
                <select name="openingSong" class="form-control" asp-items="@Model.OpeningSongSL"></select>
            </div>
            <div class="form-group">
                <label for="sacramentSong" class="control-label">Sacrament Song</label>
                <select name="sacramentSong" class="form-control" asp-items="@Model.SacramentSongsSL"></select>
            </div>
            <div class="form-group">
                <label for="closingSong" class="control-label">Closing Song</label>
                <select name="closingSong" class="form-control" asp-items="@Model.ClosingSongSL"></select>
            </div>
            <div class="form-group">
                <label for="talk0" class="control-label">Talk</label>
                <select name="talk0" class="form-control" asp-items="@Model.Talk0SL"></select>

            </div>
            <div class="form-group">
                <label for="topic0" class="control-label">Topic</label>
                <input name="topic0" class="form-control" />
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="talk1" class="control-label">Talk</label>
                <select name="talk1" class="form-control" asp-items="@Model.Talk1SL"></select>

            </div>
            <div class="form-group">
                <label for="topic1" class="control-label">Topic</label>
                <input name="topic1" class="form-control" />
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
