@page
@model SacramentMeeting.Pages.Meetings.DetailsModel

@{
    ViewData["Title"] = "Meeting Details";
}

<h2>Meeting Details</h2>

<div>

    <hr />
    <h4>Sacrament Meeting - @Html.DisplayFor(model => model.Meeting.MeetingDate)</h4>
    <table class="table detail">

        <tr>
            <td>Conducting</td>
            <td >
                @Html.DisplayFor(model => model.Meeting.Calling.Title) - @foreach (var item in Model.Meeting.Calling.CurrentCallings)
                {@Html.DisplayFor(model => item.Member.FullName)}
            </td>

        </tr>
        <tr>
            <td>Choirister</td>
            <td >@foreach (var item in Model.Callings)
                {
                if (item.Calling.Title.ToString().Contains("Choirister"))
                    { @Html.DisplayFor(model => item.Member.FullName)}
            }</td>
        </tr>
        <tr>
            <td>Organist</td>
            <td>
                @foreach (var item in Model.Callings)
                {
                    if (item.Calling.Title.ToString().Contains("Organist"))
                    {@Html.DisplayFor(model => item.Member.FullName)}
            }
                    </td>
        </tr>
        <tr></tr>
        <tr>
            <td>Opening Hymn</td>
            <td >
                @foreach (var item in Model.Meeting.SongSelections)
                {
                     @if (item.Schedule.ToString().Contains("Opening"))
                     {  @Html.DisplayFor(model => item.Song.Display)}
                }
            </td>
        </tr>
        <tr>
            <td>Opening Prayer</td>
            <td >
                @foreach (var item in Model.Meeting.Prayers)
                {
                    @if (item.Schedule.ToString().Contains("Opening"))
                    {@Html.DisplayFor(model => item.Member.FullName)}
                }
            </td>
        </tr>
        <tr>
            <td>Sacrament Hymn</td>
            <td >
                @foreach (var item in Model.Meeting.SongSelections)
                {
                    @if (item.Schedule.ToString().Contains("Sacrament"))
                    {@Html.DisplayFor(model => item.Song.Display)}
                }
            </td>
        </tr>
        <tr>
            <td >Administration of the Sacrament </td>
            <td>Aaronic Priesthood</td>
        </tr>
        
        @foreach (var item in Model.Meeting.Talks)
        {
            <tr>
                <td>Speaker</td>
                <td>@Html.DisplayFor(model => item.Member.FullName) - Topic: @Html.DisplayFor(Model => item.Topic)</td>
            </tr>
        }
        <tr>
            <td>Closing Hymn</td>
            <td >
                @foreach (var item in Model.Meeting.SongSelections)
                {
                    @if (item.Schedule.ToString().Contains("Closing"))
                 {@Html.DisplayFor(model => item.Song.Display)}
                }
            </td>
        </tr>
        <tr>
            <td>Closing Prayer</td>
            <td >
                @foreach (var item in Model.Meeting.Prayers)
                {
                    @if (item.Schedule.ToString().Contains("Closing"))
                    {@Html.DisplayFor(model => item.Member.FullName)}
                }
            </td>
        </tr>


    </table>

</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Meeting.MeetingID" asp-route-edit="true">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
