@page
@model SacramentMeeting.Pages.Meetings.IndexModel

@{
    ViewData["Title"] = "Meetings";
}

<h2>Sacrament Meetings</h2>

<p>
    <a asp-page="Create">Create New Meeting</a>
</p>
<!--<form asp-page="./Index" method="get">
<div class="form-actions no-color">
    <p>
        Find by year:
        <input type="number" min="2000" max="9999" name="SearchString" value="@(DateTime.Now.Year)" />
        <input type="submit" name="submit" value="Search" class="btn btn-default" />
        <a class="a2" asp-page="./Index">Back to full list</a>
    </p>
</div>
</form>-->
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Meeting[0].MeetingDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Meeting[0].Calling)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Meeting)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MeetingDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Calling.Title) - @foreach (var person in item.Calling.CurrentCallings)
                    {@person.Member.FullName }
                </td>

                <td>
                    <a asp-page="./Edit" asp-route-id="@item.MeetingID" asp-route-edit="true">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.MeetingID" >Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.MeetingID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
