@page 
@model SacramentMeeting.Pages.Talks.CreateModel

@{
    ViewData["Title"] = "Create|Add Talks";
}

<h2>Add Talks</h2>

<div class="col-md-12 meeting-display">
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Meeting.MeetingDate)
        </dt>
        
        <dd>
           @Html.DisplayFor(model => model.Meeting.MeetingDate)
        </dd>
        <dd></dd>
        <dt>
            @Html.DisplayNameFor(model => model.Meeting.Calling)
        </dt>
        <dd>
            <span class="meeting-title">@Html.DisplayFor(model => model.Meeting.Calling.Title):</span>@foreach (var item in Model.Meeting.Calling.CurrentCallings)
            {@Html.DisplayFor(model => item.Member.FullName)}
        </dd>
        <dd></dd>
        <dt>
            @Html.DisplayNameFor(model => model.Meeting.Prayers)
        </dt>

        @foreach (var item in Model.Meeting.Prayers)
        {
            <dd>
                <span class="meeting-title">@item.Schedule Prayer:</span>@item.Member.FullName<br />
            </dd>

        }
        <dd></dd>

        <dt>
            @Html.DisplayNameFor(model => model.Meeting.SongSelections)
        </dt>
        @foreach (var item in Model.Meeting.SongSelections)
        {
            <dd>
                <span class="meeting-title">@item.Schedule Song:</span><span class="meeting-song">#@item.SongID </span>@item.Song.Title
            </dd>
        }
        <dd></dd>
        <dt>
            @Html.DisplayNameFor(model => model.Meeting.Talks)
        </dt>
        @foreach (var item in Model.Meeting.Talks)
        {
            <dd>
                <span class="meeting-title">Speaker:</span>@item.Member.FullName<span class="meeting-speaker">Topic: @item.Topic</span>
            </dd>
        }
    </dl>

</div>


<div class="col-md-12">
    <h4>Add Talk</h4>
    <div class="row">
        <div class="col-md-12">
            <form method="post">
                <input type="hidden" name="Talk.MeetingID" value="@Model.Meeting.MeetingID" />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                @if (Model.Edit)
                {<input type="hidden" name="edit" value="true" />}
                <div class="form-group">
                    <label asp-for="Talk.MemberID" class="control-label">Member</label>
                    <select asp-for="Talk.MemberID" class="form-control" asp-items="ViewBag.MemberID">
                        <option value="">-- Assign --</option>
                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="Talk.Topic" class="control-label"></label>
                    <input asp-for="Talk.Topic" class="form-control" />
                    <span asp-validation-for="Talk.Topic" class="text-danger"></span>
                </div>
                <div class="form-group">
                    @if (Model.Edit)
                    {
                        <a asp-page="../Meetings/Edit" asp-route-id="@Model.Meeting.MeetingID" asp-route-edit="true" class="btn btn-default">Back</a>
                    }
                    else
                    {
                        <a asp-page="../Meetings/edit" asp-route-id="@Model.Meeting.MeetingID" class="btn btn-default">Back</a>
                    }



                    <input type="submit" value="Add" class="btn btn-default" />
                </div>
            </form>

        </div>
    </div>
</div>
    <div>
        <a asp-page="../Meetings/Details" asp-route-id="@Model.Meeting.MeetingID">Done Creating Meeting</a>
    </div>


    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
